body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: burlywood;
    width: 650px;
    height: 800px;
    border: solid 2px black;
    border-radius: 0.5%;
    
}

.button-tab {
    background: none;
    border: none;
    width: 650px;
    height: 135px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

form {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 650px;
    justify-content: center;
    height: 100px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.171);
}

form input label {
    height: 30px;
}


button {
    height: 35px;
    background: lightsalmon;
    border: solid 2px black;
    border-radius: 5px;
}

div .form-input {
    background: none;
    border: none;
    padding: 20px;
    width: 95px;
}

div .form-input input {
    width: 105px;
}

div .radio-buttons {
    background: none;
    border: none;
}

div .radio-buttons input {
    width: 20px;
}

.books-tab {
    margin-top: 10px;
    background: none;
    border: none;
    width: 650px;
    height: 765px;
    display: flex;
    justify-content: space-evenly;
}

div {
    width: 120px;
    height: 160px;
    border: solid 2px black;
    border-radius: 5%;
    background: brown;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.book-div p {
    margin: 7%;
}
